00README export-subst
*.web ident export-subst
*.hweb ident
data/elements.input	ident
data/materials.input	ident
data/pmi.input		ident
data/problem.input	ident
data/reactions.input	ident
data/species.input 	ident
Doc/degas2_all.tex	ident



